#login-section {
    margin-top: 30px;
    text-align: center;
}

#login-button {
    display: inline-block;
    padding: 5px 35px;
    background-color: #44b89d;
    color: #ffffff;
    border-radius: 45px;
    border: 1px solid #44b89d;
    transition: all 0.3s;
    margin-top: 15px;
}

#login-warning {
    color: red;
}

#login-section #email {
    margin-right: -1px;
    margin-left: 10px;
}

#login-section #password {
    margin-right: 28px;
    margin-left: 10px;
}

.login-input-fields {
    border-radius: 15px;
    border-width: thin;
}
