#edit-profile-button {
    display: inline-block;
    padding: 5px 35px;
    background-color: #44b89d;
    color: #ffffff;
    border-radius: 45px;
    border: 1px solid #44b89d;
    transition: all 0.3s;
    margin-top: 15px;
    margin-right: 7px;
}

#delete-profile-button {
    display: inline-block;
    padding: 5px 35px;
    background-color: red;
    color: #ffffff;
    border-radius: 45px;
    border: 1px solid red;
    transition: all 0.3s;
    margin-top: 15px;
    margin-left: 7px;
}

#edit-delete-profile-fieldset {
    margin-top: 30px;
}

#repeat-password-line {
    margin-right: 45px;
}

.edit-delete-profile-inputs {
    margin-left: 5px;
    border-radius: 15px;
    border-width: thin;
}

.edit-delete-profile-inputs#email {
    margin-left: 45px;
}

.edit-delete-profile-inputs#password {
    margin-left: 15px;
}





