#confirm-delete-profile-dialog-wrapper {
    margin: auto;
    margin-top: 5%;
    border-radius: 25px;
    border: 2px solid #063547;
    padding: 20px;
    padding-bottom: 150px;
    width: 420px;
    height: 150px;
}

#confirm-delete-profile-question {
    font-family:monospace;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}

#confirm-yes-delete-profile-button {
    display: inline-block;
    padding: 5px 35px;
    background-color: #44b89d;
    color: #ffffff;
    border-radius: 45px;
    border: 1px solid #44b89d;
    transition: all 0.3s;
    margin-top: 50px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 85px;
}

#confirm-no-delete-profile-button {
    display: inline-block;
    padding: 5px 35px;
    background-color:red;
    color: #ffffff;
    border-radius: 45px;
    border: 1px solid red;
    transition: all 0.3s;
    margin-top: 50px;
    margin-right: 5px;
}