#details-wrapper {
    flex-direction: column;
    text-align: center;
}

#details-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: auto;
    width: 30%;
    height: auto;
}

#details-content-wrapper {
    padding-top: 10px;
    text-align: center;
}

#details-button-wrapper {
    text-align: center;
}

#edit-button {
    background-color:seagreen;
    color: #FFFFFF;
    border-radius:15px
}

#delete-button {
    background-color:red;
    color: #FFFFFF;
    border-radius:15px
}

#vote-button {
    background-color: darkgoldenrod;
    color: #FFFFFF;
    border-radius:15px
}

.txt-center {
    text-align: center;
    font-size: 36px;
    margin-left: 856px ;
}
.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    width: 200px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}