#register-section {
    margin-top: 30px;
    text-align: center;
}

#register-button {
    display: inline-block;
    padding: 5px 35px;
    background-color: #44b89d;
    color: #ffffff;
    border-radius: 45px;
    border: 1px solid #44b89d;
    transition: all 0.3s;
    margin-top: 15px;
}

#register-input-email {
    margin-right: -40px;
}

#register-input-password {
    margin-right: -10px;
}

#register-input-repeat-pass {
    margin-right: 45px;
}

.regiter-form-field-inputs{
    border-radius: 15px;
    border-width: thin;
    margin-left: 10px;
}

