img.books-section {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}

#details-button {
    display: inline-block;
    padding: 5px 35px;
    background-color: #44b89d;
    color: #ffffff;
    border-radius: 45px;
    border: 1px solid #44b89d;
    transition: all 0.3s;
    margin-top: 15px;
}